.inputWindow {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	border: 2px solid #666666;
	padding: 20px;
	-webkit-box-shadow: 10px 10px 37px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 37px 5px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 37px 5px rgba(0,0,0,0.75);
	overflow: auto;
	max-height: 90%;
}

.inputWindow .title {
	margin-top: 0px;
}

.inputWindow  table {
	width: 100%;
}

.inputWindow .windowButtons {
	text-align: right;
	margin-top: 20px;
}

.inputWindow .payWindow input[type=text] {
	width: 80px;
	text-align: right;
}

.inputWindow .payWindow .invoiceItems {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.inputWindow .payWindow .invoiceItems td:nth-child(2) {
	text-align: right;
}

.inputWindow .buttonContainer {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #666666;
	text-align: center;
}

.inputWindow a {
	display: inline-block;
	margin-top: 8px;
	cursor: pointer;
	border-bottom: 2px solid #666666;
}

.inputWindow a:hover {
	border-bottom: 2px solid blue;
}
